body {
  color: white;
  background-color: #808080;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  border-color: white;
}
.center {
    position: static;
    box-shadow: 2px 2px 4px black;
    margin-left: auto;
    margin-right: auto;
    left: 20%;
}
h2 {
  color: yellow;
}
